*{
	margin: 0;
	padding: 0;

}
.banner{
	width: 100%;
	height:100vh ;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(dream.jpg);
	background-size: cover;
	background-position: center;
}
.content{
	width: 75%;
	margin: auto;
	padding: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between; 
}
.navbaner ul li{
   list-style: none;
   display: inline-block;
   margin: 10 10px;
   position: relative;
}
.navbaner ul li a{
   text-decoration-style: none;
   color: #fff;
   text-transform: uppercase;
}
.navbar ul li::after {
		content: '';
		height: 3px;
		width: 0;
		background: #009688;
		position: absolute;
		left: 0;
		bottom: -10px;
        transition: 0.5s; 
}